@model Subject;
@{
    ViewData["Title"] = "Subject information:";
}

<h1>@ViewData["Title"]</h1>
<p>Subject: @Model.Name</p>
<p>Date: @ViewBag.Date</p>

<strong>From principal subject</strong>
<partial name="BaseSchoolSimple"/>