@model Course;
@{
    ViewData["Title"] = "Course creation";
}

<div asp-validation-summary="All"></div>
<h1>@ViewData["Title"]</h1>
<form method="POST">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address">
    </div>
    <div class="form-group">
        <label asp-for="SchoolTime"></label>
        @Html.DropDownList(
            "SchoolTime",
            Html.GetEnumSelectList<SchoolTime>(), 
            "Select a daytime", 
            new {@class = "form-control"}
        )
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>