@model IEnumerable<Course>

@{
    ViewData["Title"] = "Student information:";
}

<strong>From principal subject</strong>
<table class="table table-responsive-lg table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Id</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.Name</td>
            <td>@course.Id</td>
        </tr>
    }
    </tbody>
</table>
